{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}
  <div class= "box">
    <h4>What are medical apps?</h4>
    <p> &emsp;  Medical apps, as defined by the U.S. Food and Drug Administration, are software on a mobile device that 
      function as an accessory to a regulated medical device or transform a mobile platform into a regulated 
      medical device. In other words: These apps can help patients manage their own health and help healthcare 
      practitioners facilitate and improve patient care.</p>
    <p> &emsp; Everyone is living in a mobile world, even healthcare workers. That’s why we rounded up the top medical apps for doctors.</p>
  </div>
  <div class= "box"> 
      <h4>Types of Medical Mobile Apps</h4>
      <p> &emsp;So, medical apps are divided into two categories Doctor Apps & Patient Apps. The first ones are 
        strictly for doctors, nurses, medical institutions & other healthcare professionals. 
        These kinds of apps offer access to health records, help in diagnoses, prescribing pills, etc. 
        Then the second ones are for patients and it assists people in monitoring and managing their health, 
        doctor appoints and so on. Most commonly, these are the healthcare apps which come useful:
        <ul>
          <li>Electronic Medical Record apps (EMR)</li>
          <li>General health test, fitness, wellness apps, cardio apps (healthy lifestyle app)</li>
          <li>Diagnosis apps for preventive purposes</li>
          <li>Apps to monitor chronic conditions (diabetes, blood pressure, cancer)</li>
          <li>Patient medical education apps</li>
          <li>Doctor-on-demand apps (doctor booking, online consulting, doctor appointment)</li>
          <li>Medication Tracking Mobile App (track Patient medication)</li>
          <li>Clinical Assistance Mobile Apps (EHR, PHR, LIMS, HIMS)</li>
          <li>e-Rx, e-Prescription Mobile Applications</li>
          <li>Nursing apps (scheduling, tracking, medical records)</li>
          <li>Sleep & Medication apps (relaxing music and sounds)</li>
          <li>Mental health apps (for disorders, stress relief)</li>
          <li>Weight loss apps, diet apps (trackers, exercises, etc.)</li>
          <li>Women?s health apps (for pregnancy, calendar, feeding?)</li>
        </ul>
      </p>
    </div>
    <div class= "box">
      <h4>What are the benefits of mobility in Medical field?</h4>
      <p> &emsp;   In todays times, it is vital for medical centers to stay connected to patients, 
        records as well as emergency protocols 24/7. No wonder, patients are a lot more demanding, 
        regulations &compliance challenges are also increasing. Thus, in such scenarios, mobility 
        solutions help in keeping patients at the highest level of priority and also help in many 
        other ways, like:
        <ul>
          <li>Increases focus on patient care and documentation.</li>
          <li>Avoiding confusions & miscommunications.</li>
          <li>Improving patient care by delivering messages to the point of care instead of administrative location/central nursing.</li>
          <li>Integrating images, text and voice messages in a single device it streamlines communication.</li>
          <li>Enhances focus on patient care & documentation. It removes unproductive spent usually spent in looking for some staff or trying to reach them on various devices.</li>
          <li>Simplifies collaboration among mobile staff to deliver faster & better results.</li>
          <li>Better responsiveness & patient satisfaction.</li>
        </ul>
      </p>
  </div>
{% endblock body %}