{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block head %}
  <style>
    body {
    /* Location of the image */
    background-image: url({% static 'myweb/contact-us.jpg' %});
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: 100% 80%;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
  }
 
*{
  box-sizing: border-box;
}
.containerc{
    padding:20px;
    width:400px;
    font-size: 25px;
    font-family:Garamond, Verdana, Tahoma, sans-serif;
    background-color:#523321;
    color:wheat;
    border-radius: 10px;

  }
.leftc {
    margin-top:125px;
    float:left;
    text-align: left;
    margin-left: 50px;
    width:30%; /* The width is 20%, by default */
  }
  .rightc{
    float:right;
    margin-top:125px;
    width:30%; /* The width is 25%, by default */
    text-align: left;
    margin-right:50px;
  }
/* Use a media query to add a break point at 992px: */
@media screen and (max-width:1200px) {
    .leftc, .rightc {
      width:39%; /* The width is 100%, when the viewport is 768px or smaller */
      margin-right:1px;
      margin-left:50px;
      float:left;
      margin-top: 150px;
    }
    .containerc{
      width:400px ;
    }
    
  }
  @media screen and (max-width:900px) {
    .leftc, .rightc {
      width:80%; /* The width is 100%, when the viewport is 768px or smaller */
      margin-right:none;
      margin-left:none;
      float:none;
      margin-top: 10px;
    }
    .containerc{
      width:auto ;
      font-size:medium;
    }
    
  }
</style>
{% endblock %}

{% block body %}

  <div class= "leftc"> 
    <div class="containerc" >
           Address:<br> 
           FF-2 First Floor,<br>
           Akash 3 Comm Complex,<br> 
           Opp Jayamangal BRTS,<br>
           132 Ft Ring Road, Naranpura <br>
           Ahmedabad,Gujarat,<br>
           India - 380013.

    </div>
  </div>              
  <div class= "rightc"> 
    <div class="containerc" style="color: wheat;" >
      <a style="color: wheat;" href="tel:+917940392718">Phone: +917940392718</a><br>
      <a style="color: wheat;" href="tel:+919376177135">Mobile:+91 9376177135</a><br><br>
      Email: <a style="color: wheat;" href="mailto:medilab.diagnostics2005@gmail.com">medilab.diagnostics2005@gmail.com</a>
    </div>
  </div>    
{% endblock body %}