{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}
  <script src="extend.js"></script>
  <div class= "box"> 
      <p> &emsp; Culture.</p>
      <p> &emsp; Today, healthcare organizations and clinicians are under more pressure than ever before to offer 
        patient-centric services, cut costs, and run more efficiently.</p>
  </div>
  <div class= "box"> 
      <p> &emsp; The effectiveness of a healthcare system will be assessed based on patient experience and clinical outcome 
        metrics. Only healthcare organizations with the best medical software will rank above the fold for these 
        outcomes.</p>
      <p> &emsp; Technological innovations can help doctors and other clinicians attend to more patients.</p>
      <p>&emsp; When expertly designed it can help improve response times, increase data management accuracy and security, 
        and drive down healthcare costs.</p>
  </div>              
{% endblock body %}