{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}

  <div class= "box"> 
      <p> &emsp; A 2016 physician survey found that 21 percent of the doctor’s time goes to non-clinical paperwork.
        That means less time for the patient and more chance of burnout for the doctor.</p>
      <p> &emsp; Thanks to latest technologies, the vast majority of non-clinical work can be automated, giving 
        physicians more time to do what matters: practice medicine. In fact, according to a recent research report, 
        all healthcare providers will embrace these care delivery-optimization technologies in the next 3-5 years.</p>
  </div>
  <div class= "box">
    <h4>Business Process Automation</h4>
      <p>
        <ul>
          <li>Business process automation solutions provides the tools to streamline and automate business 
            and IT processes common to the healthcare sector. It provides centralized and complete management enabling the 
            distribution of complex automation across the enterprise.</li>
          <li>Healthcare process automation offers enhanced functionality to transfer, share, and store 
            secure information. It eases the reliable and automated transmission of electronic health records 
            across the enterprise. All the automated healthcare systems would be linked systematically for the 
            effective data retrieval.</li>
          <li>Sharing of electronic health records with patient care sectors such as hospitals, pharmacies, and 
            insurance providers are carried out through collaborative interoperability with the regional health 
            information organizations.
          </li>
        </ul>
      </p>
  </div>  
  <div class= "box">
    <h4>Intelligent Workflow Automation Solutions</h4>
      <p>
        <ul>
          <li>Smart workflow automation which is comprised of intuitive, intelligent and integrative 
            solutions for managing documents and business processes in healthcare. These smart workflow solutions connect 
            your patient with physicians while transforming cumbersome paper processes into digital information.</li>
          <li>This solution consists of configurable modules integrated with your hospital’s existing applications and 
            helps in automating operations cycle from patient registration to tracking and financial management. It can 
            streamline interdepartmental workflow by bringing all critical patient and physician information from separate 
            systems into a single, electronic patient folder that can be viewed throughout your facility.</li>
          <li>This automation of healthcare solutions will immediately identify inefficiencies and trigger corrective 
            actions based on facility-defined standards.</li>
        </ul>
      </p>
  </div>  
{% endblock body %}
