{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}
  <div class= "box"> 
      <p> &emsp; Quality Assurance (QA) services for any health care software, we will be responsible for 
        creating and implementing a strategy for quality coordination and testing as well as suggesting 
        solutions to identified quality problems. Few task involved are:
        <ol>
          <li>Test current products and identifying deficiencies</li>
          <li>Suggest solutions to identified product problems</li>
          <li>Investigate product quality in order to make improvements to achieve better customer satisfaction</li>
          <li>Identify quality assurance process bottleneck and suggest actions for improvement</li>
          <li>Code automated tests</li>
          <li>Review user interfaces for consistency and functionality</li>
        </ol>
      </p>
{% endblock body %}

