{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}
  <div class= "box"> 
      <p> &emsp; In the patient-first healthcare system, technology is being leveraged to break more physician-patient barriers.</p>
      <p> &emsp; Telemedicine, medical device software, and software as a medical device are being developed to 
        let patients connect directly with their physicians, as well as make sharing information effortless 
        between healthcare professionals.</p>
  </div>
  <div class= "box"> 
      <p> &emsp; The beauty of telemedicine is that the patient can get access to healthcare from the comfort of their own homes.</p>
      <p> &emsp; This places the patient at the very center of their healthcare. The other hidden benefit is 
        that physicians can keep a closer eye on their patients, potentially improving medication adherence, 
        disease monitoring, and ongoing diagnosis.</p>
  </div>              
{% endblock body %}