{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}
   
  <div class="box">
    <p> &emsp;Any Professional high quality website design requires the right blend of text, graphics and animation into it. 
        We are capable to provide you with the artistic and professionally developed web design with the 
        help of latest tools and techniques.
    </p>
  </div>
  <div class="box">
    <h4>Our Web Design Services include:</h4>
      <p>
        <ul>
          <li>Web page design</li>
          <li>Website Redesign</li>
          <li>Web Portal creation</li>
          <li>Web Application development</li>
        </ul>
      </p>
  </div>
  <div class="box">
    <h4>We Believe in providing:</h4>
      <p>
        <ul>
          <li>Quality website designs</li>
          <li>Attractive graphic animations</li>
          <li>Search engine friendly designs</li>
          <li>Unique and distinct online presence for your health care unit</li>
          <li>Customized graphic designs to increase overall website appeal</li>
        </ul>
      </p>
  </div>
{% endblock body %}