{% extends "myweb/layout.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block body %}
  <div class= "box"> 
      <p> &emsp; Today, Health Checkup and wellness is a unique business with integration of many helath care discipline like 
        pathology, radiology and general medicine. Such centers has unique software requirement, like:
        <ol>
          <li>Ability to create integrated reports</li>
          <li>Ability to integrate images in reprots</li>
          <li>Maintain various price-lists for different payers/companies</li>
          <li>Different test packages for different payers/companies</li>
          <li>Invoice genration/billing for payers at agreed price</li>
          <li>Automatic SMS/ E Mail fascility </li>
          <li>Appointment management</li>
          <li>User-based access controls to provide authorized 
            access to other staff members for features such as discounts, referrals and admin rights.</li>
        </ol>
      </p>
  </div>
{% endblock body %}
